<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Posts | Roshan Adhikari</title>

	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous"
		  th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	>
</head>
<body>
	<div th:insert="header"></div>
	<div class="container">
		<div th:each="post : ${posts}" class="card">
			<div class="card-body">
				<h5 class="card-title" th:utext="${post.title}">Post title</h5>
				<h6 class="card-subtitle mb-2"
					th:text="${#temporals.monthName(post.dateTime) + ' ' + #temporals.day(post.dateTime) + ', ' + #temporals.year(post.dateTime)}">LocalDateTime</h6>
				<p class="card-text" th:text="${post.synopsis} + '...'">Post synopsis</p>
				<a href="#" th:href="'/posts/' + ${post.id}" th:text="${'Read more'}" class="card-link">Read more</a>
			</div>
		</div>
	</div>
</body>
</html>